{% extends '_base.html' %}
{% load static %}

{% block css %}
    
{% endblock css %}

{% block content %}

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Quizzy-Платформа для удобного прохождения тестов</h1>
            <p class="col-lg-10 fs-4">Войдите в систему, чтобы начать приключение.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
            {% if not request.user.is_authenticated %}
            
            <form action="" method="post" class="p-4 p-md-5 border rounded-3 bg-light">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{form.username}}
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.password }}
                    <label for="password">Password</label>
                </div>
                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <hr class="my-4">
                <p class="text-muted">Don't have an account? <a href={% url 'accounts:signup' %}>Sign up<a/></p>
            </form>
            {% else %}
                <p>You are already logged in. Do you wanna <a href={% url 'accounts:logout' %}>logout</a>?</p>
            {% endif %}
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block js %}
            <script>
                
            </script>
{% endblock js %}